<!--NAV-->
<nav class="navbar navbar-expand-md">
    <a routerLink ="/"><img class="logo" src=".\assets\Fukomashi.png" alt="Logo"></a>
    <div class="collapse navbar-collapse justify-content-end" id="nav">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link text-uppercase px-3" routerLink="/produits">Nos produits</a></li>
            <li class="nav-item"><a class="nav-link text-uppercase px-3" routerLink="/créations">Vos créations</a></li>
            <li class="nav-item"><a class="nav-link text-uppercase px-3" routerLink="/histoire">Notre histoire</a></li>
        </ul>
    </div>
</nav>