<div class="allContent">
    <div class="container content d-flex flex-column">
        <div>
            <h6>Nos produits :</h6>
        </div>
        <h5>Nos Viandes</h5>
        <div class="d-flex">
            <app-card-product></app-card-product>
        </div>
        <h5>Nos Sushis</h5>
        <div class="d-flex">
            <app-card-product></app-card-product>
        </div>
        <h5>Nos Ramens</h5>
        <div class="d-flex">
            <app-card-product></app-card-product>
        </div>
    </div>
</div>